#configuratiions

PORT_URL=3000
DATABASE=mysql
JWT_SECRET=Dodikitn123! 


DATABASE_URL="mysql://root@127.0.0.1:3306/hrd-pycotest"

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=hrd-pycotest

# POSTGRES_DRIVER=postgres
# POSTGRES_HOST=localhost
# POSTGRES_PORT=5432
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=Dodikitn123!
# POSTGRES_DATABASE=example
# MODE=DEV
# RUN_MIGRATIONS=true

POSTGRES_DRIVER=postgres
POSTGRES_HOST=10.252.22.227
POSTGRES_PORT=5499
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Satoria@2023
POSTGRES_DATABASE=hris
MODE=DEV
RUN_MIGRATIONS=true